@model Test_2_MVC.Models.Customer
@{
    ViewBag.Title = "CustomersInGermany";
}

<h2>CustomersInGermany</h2>
<table>
    <tr>
        <th>Customer ID</th>
        <th>Company Name</th>
        <th>Contact Name</th>
        <th>Contact Title</th>

    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.CustomerID</td>
            <td>@customer.CompanyName</td>
            <td>@customer.ContactName</td>
            <td>@customer.ContactTitle</td>

        </tr>
    }
</table>
